{% extends 'blog/blog_home.html' %}
{% load static %}

{% block content %}
    <section class="hero-home dark-overlay mb-5"><img
            src="{{ object.photo.url }}"
            alt="" class="bg-image">
        <div class="container py-7">
            <div class="overlay-content text-center text-white">
                <h1 class="display-3 text-serif font-weight-bold text-shadow mb-0"
                    style="color: white;">{{ object.title }}</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <p class="py-3 mb-5 text-muted text-center font-weight-light"><a href=""><img
                            src="{% static 'images/man.png' %}" alt=""
                            class="avatar mr-2"></a> Written by <a href="#"
                                                                   class="font-weight-bold">{{ object.author|capfirst }}</a><span
                            class="mx-1">|</span> {{ object.created_at }}
                        {#                        <a href="blog.html" class="font-weight-bold">{{ object.category }}</a>#}
                        <span
                                class="mx-1">|
                            {% if object.category == 'BRTN' %}
                                <a href="category/brain-research-tagging-news" class="font-weight-bold">Brain Research
                                Tagging News
                            {% elif object.category == 'BHN' %}
                                <a href="category/brain-health-news" class="font-weight-bold">Brain Health News
                            {% elif post.category == 'RDCN' %}
                                <a href="category/research-domain-criteria-news" class="font-weight-bold">ResearchDomain
                                Criteria News
                            {% else %}
                                <a href="{% url 'blog-home' %}" class="font-weight-bold">DEFAULT
                            {% endif %}
                            </a>
                        </span>
                        {% if object.author == user and user.is_authenticated %}
                            <a href="{% url 'delete-post' object.id %}" class="text-muted">Delete </a>
                        {% endif %}
                    </p>
                    <p class="lead mb-5">{{ object.content|safe }}</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container container-fluid">
            <div class="main-comment-section">
                <div class="col-md-12 col-sm-12 ">
                    <h4>Post a comment </h4>
                    <form method="post" action="{% url 'new-comment' %}">
                        {% csrf_token %}
                        <textarea class="form-control" name="content" placeholder="write a comment..."
                                  rows="3"></textarea>
                        <br>
                        <input name="post" value="{{ object.id }}" hidden/>

                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-info pull-right">Post</button>
                        {% else %}
                            <button type="submit" class="btn btn-info pull-right" disabled>Post</button>
                        {% endif %}
                        <div class="clearfix"></div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr>
                {% if comments %}
                    <div class="row bootstrap snippets">
                        <div class="col-md-8 col-sm-12">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading"
                                         style="color:white; background-color: #002e5b; border-color: #bce8f1;">
                                        {{ comments.count }} Comment{{ comments|pluralize }}
                                    </div>
                                    <div class="panel-body">
                                        <ul class="media-list">
                                            {% for comment in comments %}
                                                <li class="media">
                                                    <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">{{ comment.timestamp }}</small>
                                                    </span>
                                                        <p>{{ comment.content }}</p>
                                                        <strong class="text-success">{{ comment.author|capfirst }}</strong>
                                                        <span>{{ comment.replies.count }} replies</span> |
                                                        <button class="btn btn-xs btn-outline-dark reply"
                                                                style="padding:8px 5px; font-size: 12px; line-height: .5; margin-bottom: 1%;">
                                                            Reply
                                                        </button>

                                                    </div>
                                                </li>
                                                <div class="media-list cmt_replies" style="display: none">
                                                    {% for reply in comment.replies.all %}
                                                        <div class="media-body" style="padding-left: 3%;">
                                                            <strong class="text-success">{{ reply.author|capfirst }}</strong>

                                                            <span class="text-muted pull-right">
                                                            <small class="text-muted">{{ reply.timestamp|date }}</small>
                                                            </span>
                                                            <p>{{ reply.content }}</p>
                                                        </div>
                                                    {% endfor %}
                                                    <form method="post" action="{% url 'new-comment' %}">
                                                        {% csrf_token %}
                                                        <textarea class="form-control" name="content"
                                                                  placeholder="write your reply..."
                                                                  rows="3"></textarea>
                                                        <br>
                                                        <input name="post" value="{{ object.id }}" hidden/>
                                                        <input name="comment_id" value="{{ comment.id }}" hidden/>
                                                        {% if user.is_authenticated %}
                                                            <button type="submit" class="btn btn-info pull-right">
                                                                Post
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-info pull-right"
                                                                    disabled>Reply
                                                            </button>
                                                        {% endif %}
                                                        <div class="clearfix"></div>
                                                    </form>
                                                </div>

                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
